td,th{
    margin: 0;
    padding: 0.5rem;
    border-bottom: 1px solid #e6e6e6;
    text-align: left;
  }
  tr.checked{
    background-color: #f52a2e;
  }
  .data{
    background-color: #ff4f52;
    border:none;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    width: 100%;
  }
  .data:focus{
    outline: none;
  }
  .data.checked{
    background-color: #f52a2e;
    border: none;
  }
  .data.normal{
    caret-color: transparent;
    border : none;
  }
  .data.editable{
    border : 1px solid grey;
    border-radius: 0.25rem;
  }
  .data.editable:focus{
    border:1px solid #0e0c0c;
  }
  .icon{
    
    margin-right: 1rem;
    cursor: pointer;
    margin-left: 1rem;
    
  }

  @media (max-width:566px){
    .actions{
      display: flex;
    }
    
  }